*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: sans-serif;
}

#header-example {
    background-color: aqua;
    padding: 6px 6px 6px 6px;
    margin: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paragraphs{
    background-color: coral;
    padding: 4px;
}

.list{
    background-color: coral;
    padding: 4%;
}

#two-columns{
    display: grid;
    grid-template-columns: 40% 1fr;
}

#sidebar-content{
    background-color: lightgreen;
}

#main-content {
    background-color: #37d37b;}