
body{
    background-color: #348aa7;
}

.top-nav{
    position: sticky;
    display: block;
    text-align: right;
    background-color: #5dd39e;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    color: #513b56;
    text-decoration: none; 
    font-size: 17px;
}

#logo{
    float:left;
    padding-left: 1%;
    display: block;
}

#mid-nav{
    display: block;
    text-align: center;
    background-color: #5dd39e;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    color: #513b56;
    text-decoration: none;
    font-size: 17px;
}

.nav-button{
    text-align: center;
    padding:8px;
    color: #513b56;
    margin: 0%;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #513b56;
}

a:hover {
    box-shadow: 1px 1px 8px 1px rgb(41, 41, 41);
}

a:active {
    box-shadow: inset 1px 1px 8px 1px rgb(41, 41, 41);
    color: white;
}

input[type=text]{
    background-color: rgb(209, 209, 209);
    padding: 6px;
    border: none;
    font-size: 17px;
}

input:active{
    background-color: rgb(209, 209, 209);
    text-decoration: none;
}

#header-text{ 
    color: white;
    text-align: center;
    position: relative;
    font-weight: bold;
    font-size: 70px;
    background-color: #0000003d;
    margin-top:14%;
}

#header-home{
    background-image:
    linear-gradient(#348ca900,#1a4354a9),
    url('/sandbox/images/pexels-steve-johnson-933967.jpg');
    background-size: auto;
    width: 98%;
    height: 400px;
    padding: 1%;
}

#grid-layout{
    display: grid;
    text-align: center;
    grid-template-columns:20% 60% 20%;
    height: 800px;
}

#sidebar-1{
    float: left;
    padding:10%;
    background-color: #5dd39e;
    box-shadow: inset 3px 3px 16px 3px #42946f;
    border-radius: 8px;
}

#sidebar-2{
    float: right;
    padding:10%;
    background-color: #5dd39e;
    box-shadow: inset 3px 3px 16px 3px #42946f;
    border-radius: 8px;
}

#sidebar-1-img{
    width: 80%;
    margin: 2%;
    padding: 6%;
    background-color: whitesmoke;
    box-shadow: 1px 1px 8px 1px rgb(41, 41, 41);

}

#sidebar-2-img{
    width: 80%;
    text-align: center;
    margin: 2%;
    padding: 6%;
    background-color: whitesmoke;
    box-shadow: 1px 1px 8px 1px rgb(41, 41, 41);

}

#center-column{
    float: center;
    margin: 5% 5% 5% 5%;
    padding: 5%;
    background-color: whitesmoke;
    box-shadow: 1px 1px 8px 1px rgb(41, 41, 41);
    overflow: scroll;

}

#center-column-img{
    float: center;
    width: 90%;

}

#center-column-header{
    text-align: center;
}

#center-column-p{
    text-align: left;
    text-indent: 2%;
    margin: 2%;
}

.footer{
    text-align: center;
    background-color: #5dd39e;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    color: #513b56;
    text-decoration: none; 
    font-size: 17px;
    position: fixed;
    bottom: 6px;
    width: 98%;
}